@charset "utf-8";/*skip navigation*/
#skip { position: relative; } 
#skip a { position: absolute; left: 0px; top: -35px; border: 1px solid #fff; color: #fff; background: #333; line-height: 30px; width: 140px; text-align: center; } 
#skip a:active,
#skip a:focus { top: 0; } 

/*layout 레이아웃*/
#wrap {} 

#header {height: 325px; background: url(../img/header_bg.jpg) center top repeat-x;} 
/*bckground 에 url 링크 주소도 가능하나 내가 가진 사진 이용시엔 사진 저장소-사진이름 / center top = 넣은 이미지에서 화면비율 키우거나 
줄여도 특정 부분 고정하여 보여짐 / repeat-x = 화면 비율 줄이거나 늘려도 x축으로만 이미지가 늘어나고 줄어들고 설정*/
#contents {} 

#footer {height: 200px; background: #333; } 

/*contents*/
#cont_nav {background-color: #f6fdff;} 
#cont_tit {background-color: #eaf7fd;} 
#cont_ban {background-color: #dceff7;} 
#cont_cont { width: 100%; height: 200px; background: #666; } 

/*container*/
.container {width: 990px; margin: 0 auto; height: inherit; /*background: rgba(225, 255, 255, 0.3);*/ } 

/*header*/
.header .header-menu {text-align: right;} 
/*1. header class 안에 header-menu class가 자식으로 있으므로 .header 뒤에 1칸 띄워주기
  2. a tag는 inline 구조이므로 글자 정렬 하고싶으면 부모 속성에다 text-align 입력해줘야함.*/

.header .header-menu a {color: #fff; padding: 10px 0px 10px 13px; display: inline-block;}
/*inline 구조는 padding이 양옆으로만 적용되기때문에 위아래도 적용 원할경우엔 display:block; 으로 속성 변경 가능하나
이렇게 할경우 메뉴 하나하나 다 블럭이되서 순서가 바뀌고 위치정렬(글자정렬)해주는등 코드가 지저분해 진다.
그래서 inline 속성 가지면서 동시에 block 속성 부여하는 display: inline-block; 이용하면 1개로 끝*/

.header .header-menu a:hover {color: #666;}
/*hover = 상호작용, 쉽게말해 마우스 메뉴에 가져다 대면 색이 변하는 동작
(background-color:원하는색; 으로하면 마우스 가져다댄 부분이 박스형태로 색이 덮여진다.)*/

.header .header-tit {text-align: center;}
.header .header-tit h1 { background-color: #4aa8d4; font-size: 35px;
    padding: 5px 20px 6px 20px; display: inline-block; color: #fff; margin-top: 40px;
font-weight: normal; text-transform: uppercase;}
.header .header-tit a {display: inline-block; background-color: #2698cb; font-size: 18px; color: #fff;
padding: 5px 20px 6px 20px; margin-top: -5px;}

.header .header-icon {text-align: center; margin-top: 30px;}
.header .header-icon a {width: 60px; height: 60px; display: inline-block; background: url(../img/icon.png); margin: 0 5px;}
.header .header-icon a.icon1 {background-position: 0 0;}
.header .header-icon a.icon2 {background-position: 0 -60px;}
.header .header-icon a.icon3 {background-position: 0 -120px;}
.header .header-icon a.icon4 {background-position: 0 -180px;}
.header .header-icon a.icon1:hover {background-position: -60px 0;}
.header .header-icon a.icon2:hover {background-position: -60px -60px;}
.header .header-icon a.icon3:hover {background-position: -60px -120px;}
.header .header-icon a.icon4:hover {background-position: -60px -180px;}

/*float: left;로 인한 영역깨짐(height:0;) 방지법
1. 깨지는 영역에 똑같이 float: left;를 사용한다. -> 결국 모든박스에 입력해줘야해서 사용 안함 
2. float의 성질을 차단하는 clear: both; 사용 -> 나중에 박스가 많아지고 복잡해졌을때 어떤 영역이 깨졌는지 찾기어려워 사용 안함
3. float을 사용한 상위 박스한테 overflow: hidden; 사용 -> 많이사용, 완벽한건 아님.
4. clearfix를 사용 -> 실질적으로 거의 대부분 이걸로 씀 "반응형에서!"*/

/*전체 메뉴*/
.nav {overflow: hidden; padding: 30px 0;}
.nav > div {float: left; width: 40%;}
/* > 사용할경우 바로 다음에오는 첫번째 자식만 자식으로 인정해서 작업*/
.nav > div:last-child {width: 20%;}/*last-child 는 IE9부터 사용 가능.. IE8까지 맞춰야하면 .nav > div.last{} 이런식으로 작성*/
.nav > div.last {width: 20%;} 
.nav > div h3 {font-size: 18px; color: #25a2d0; margin-bottom: 4px;}
.nav > div ol {overflow: hidden;}
.nav > div ol li {float: left; width: 50%;}
.nav > div.last ol li {width: 100%;}
.nav > div ol li a:hover {text-decoration: underline;}

/*Title*/
.tit {position: relative;}
.tit h2 {font-size: 40px; text-align: center; padding: 5px 0; letter-spacing: 2px; color: #2c94c4;
    font-family: 'Gaegu', cursive;}
.tit .btn {position: absolute; top: 5px; right: 0; width: 60px; height: 60px; background: url(../img/icon.png)
    no-repeat 0 -600px;}

/*Banner*/
.ban {position: relative; padding: 24px 0 20px;}
.ban a.prev {position: absolute; left: -80px; top: 60px; width: 43px; height: 43px; background: url(../img/icon.png) no-repeat -150px 0;}
.ban a.prev:hover {background-position: -193px 0;}
.ban a.next:hover {background-position: -193px -43px;}
.ban a.next {position: absolute; right: -80px; top: 60px; width: 43px; height: 43px; background: url(../img/icon.png) no-repeat -150px -43px;}
.ban ul {overflow: hidden;}
.ban ul li {float: left; width: 330px;}
.ban ul li:last-child {text-align: right;} /*IE9 부터 적용*/
.ban ul li:nth-child(2) {text-align: center;} /*IE9 부터 적용*/
.ban ul li.ban_img1 {text-align: left;}/*번거롭지만 이렇게하면 모든 버전 적용 가능*/
.ban ul li.ban_img2 {text-align: center;}
.ban ul li.ban_img3 {text-align: right;}
.ban ul li img {border: 4px solid #dcdcdc;}
.ban ul li img:hover {border-color: #98bcdc;}